#resultsTableContainer {
  display: flex;
  justify-content: center;
}

#resultsTableContainer > ul {
  width: 40%;
  list-style: none;
  padding-left: 0;
}

.questionNumber {
  text-align: center;
}

.tableResponse {
  text-align: center;
}

table {
  width: 100%;
}

tbody {
  font-size: 32px;
}
