.lobbyList {
  justify-content: center;
}

.lobbyCard {
  background: #606060;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  width: 95vw;
}

.joinBtn {
  border-radius: 10px !important;
  min-width: fit-content;
}

.playerVsPlayerCard {
  width: 100%;
  background: #aeaeb6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerVsPlayerCard > p {
  margin-bottom: 0;
}

.versusCircle {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bf0000;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.versusCircle > h3 {
  margin-bottom: 0;
}

.logout {
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.15));
  border-radius: 10px !important;
  width: 142px;
  height: 49px;
  margin: 20px auto;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 36px !important;
  line-height: 30px !important;
  display: inline-flex !important;
  justify-content: center;
  letter-spacing: -0.07em;
  color: #ffffff !important;
}
