body {
  background-color: rgb(52, 68, 78);
}

.container {
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 600px;
  padding: 20px;
  margin: 15px auto;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.842);
  border-radius: 20px;
}

#question {
  font-size: 35px;
  height: fit-content;
  margin-bottom: 0;
  align-self: flex-start;
  width: fit-content;
  line-height: 35px;
}

#display {
  font-size: 75px;
  line-height: 75px;
  font-family: "Roboto", sans-serif;
  width: fit-content;
  align-self: flex-end;
  margin-bottom: 0;
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  flex: 1;
}

#displayContainer {
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  background-color: rgb(141, 185, 143);
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid white;
  flex-direction: column;
  gap: 0;
}

.row-item {
  flex: 1;
  font-size: 32px;
  border-radius: 10px;
  border: 2px solid white;
}

#delete {
  flex: 1 1 0;
  background-color: firebrick;
}

#clear {
  background-color: gold;
}

#submit {
  background-color: rgb(72, 149, 0);
}

.number {
  background-color: #c3c3c3;
}

.operation {
  background-color: rgb(74, 77, 85);
  color: white;
}

#neg {
  color: black;
}
